<div class="container">
    <div class="stu-list">
        <img src="assets/totalstudent.png" style="height: 100px;width: 100px;"    alt="Student" />
       <p>Total number of Students  {{totalStudents}}</p>
    </div>
    <div class="attendance">

        <img src="assets/present.png" style="height: 100px;width: 100px;" alt="Attendance" />
        <p> Total number of student  present  {{totalpresents}}</p>
    </div>
    <div class="attendance-ab">
         <img src="assets/absent.png" style="height: 100px;width: 100px;" alt="Attendance" />
        <p>Total number of student absent  {{totalabsents}}</p>
    </div>
</div>