.container {
    display: flex; 
    margin-top: 50px; 
}


.stu-list, .attendance, .attendance-ab {
    
    width: 300px;
    margin-top: 50px;
    margin-left: 120px;
    justify-content: center;
    align-items: center;
    width: 150px;;
    padding:50px;
    padding-left: 90px;
    background-color: #fffdfd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
