<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="cls-1">
  
<div class="cls-2">
  <img style="height: 70px;  border-radius: 50%;"
    src="assets/Facebook.png"
    alt="Logo"
    class="logo" />
  <h2 style="color: rgb(33, 84, 179);">Login</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
  
    <input style="padding: 10px;border-radius: 5px;"
      id="u-email"
      type="email"
  
      placeholder="Email"
      name="email"
      required
      [(ngModel)]="email"
    /><br />


    <input style="padding: 10px;border-radius: 5px; margin-top: 10px;"
      id="u-pass"
      type="password"
     
      placeholder="Password"
      name="password"
      required
      [(ngModel)]="password"
    /><br />

    
    <button type="submit" class="btn" >Login</button>
  </form>
  <p class="cls-3">
    Don't have an account?
    <a routerLink="/register" class="cls-3">Register</a>
  </p>
</div>
</body>
</html>