<!-- post selection container -->
<div class="create-post">
    <h3>Create a Post</h3>
    <input type="text" [(ngModel)]="imageUrl" placeholder="Enter image URL" class="url-input">
    <button (click)="createPost()">Post</button>
</div>

<!-- post showing container -->

<div class="post-list">
    <div *ngFor="let post of posts; let i = index" class="post-item">
        <h4>Your Post</h4>
        <img [src]="post" alt="Post Image" class="post-img">
        <button (click)="deletePost(i)">🗑️ Delete</button>
    </div>
</div>