<div class="wh-container">
    <div class="cls-1">
        <h1>Mark List</h1>
        <h2>Student Name List</h2>
        <div class="table-div">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Reg no</th>
                        <th>Eng Marks</th>
                        <th>Tamil Marks</th>
                        <th>Maths Marks</th>
                        <th>Total Marks</th>
                        <th>add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of studentEntireList">
                        <td>{{ student.studentName | titlecase }}</td>
                        <td>{{ student.registerNumber }}</td>
                        <td>
                            <input type="number" [(ngModel)]="student.engMarks" placeholder="Enter English marks" />
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="student.tamilMarks" placeholder="Enter Tamil marks" />
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="student.mathsMarks" placeholder="Enter Maths marks" />
                        </td>
                        <td>{{ student.totalMarks }}</td>
                        <td>
                            <button (click)="calculateTotal(student)">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>