<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body class="cls-1">
  <div class="cls-2">
    <img src="assets/Facebook.png" style="height: 50px; border-radius: 50%;margin-top: 20px;" alt="Facebook logo" class="logo" />
    <h2 class="title">Register</h2>
    <!-- form  start -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- user -->
      <input
        type="text"
        class="ud"
        placeholder="UserName"
        formControlName="username"
      /><br>
     <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" >
        <small class="error">Username is required.</small>
     </div>


      <!-- email -->
      <input
        type="email"
        class="ud"
        placeholder="Email"
        formControlName="email"
      /><br>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small class="error">Email is required.</small>
      </div>


      <!-- password -->
      <input
        type="password"
        class="ud"
        placeholder="Password"
        formControlName="password"
      /><br>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small class="error">Password is required.</small>
      </div>
      <!-- confirm password -->
      <input
        type="password"
        class="ud"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      /><br>
      <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
        <small class="error">Confirm Password is required.</small>
      </div>
      <button type="submit" class="btn" >Register</button>
    </form>

    <p class="cls-3">
      Already have an account?
      <a routerLink="/login" class="cls-3">Login</a>
    </p>
  </div>
</body>
</html>